/* Pages */
.home {}
.class,
.search {

  .hero {
    margin-top: -($navbar-height);
    .content {
      max-width: 450px;
     margin: 0 auto;
     padding: 120px 0 70px;
   }

   h1 {
     margin-bottom: 0;
   }

  .lead {
     font-size: 16px;
   }

 }
}
.checkout {}
