/* Top Navigation Bar */

.navbar {
  z-index: 10;

  .navbar-title {
    display: none;
    margin: 0;
    padding: 12px 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: $white;
    text-transform: uppercase;
    text-align: center;
  }
}

/* Pages */

// Home
.home {
  .navbar {
    .navbar-logo {
      display: none;
    }
  }
}

// Checkout
.checkout {
  .navbar .navbar-title {
    display: block;
    color: #333;
  }
  .navbar-search {
    display: none;
  }
}

// Pages with hero image
.home,
.search,
.class {
  .navbar {
    background-color: transparent;
  }
 .navbar-nav {
   > li > a {
     color: $white;
     height: 58px;
     line-height: 58px;
     &.sign-up span {
       border: 2px solid $white;
       &:hover {
         background-color: $white;
         color: $text-color;
       }
     }
   }
 }
 .nav-image {
   margin-top: 8px;
 }
}
