/* Top Navigation Bar */

.navbar {
  z-index: 10;
  border-bottom: none;
  background-color: transparent;

  body.checkout &,
  body.user-dashboard & {
    background-color: $white;
  }

  // Elements
  &-logo {
    height: 58px;
    padding: 4px 0;

    body.home & {
      display: none;
    }
  }

  &-search {
    // On the Home Page is not displayed via NG-IF
    body.checkout & {
      display: none;
    }
  }

  &-title {
    display: none;
    margin: 0;
    padding: 12px 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: $white;
    text-transform: uppercase;
    text-align: center;

    body.checkout & {
      display: block;
      color: #333;
    }
  }

  // Left links
  .dropdown {

    $block: &;

    &-toggle {
      height: 58px;
      background-color: transparent;
      line-height: 58px;
      color: $white;

      body.checkout &,
      body.user-dashboard & {
        color: $text-color;
      }

      .nav-image {
        margin-top: 8px;
      }
    }
    &-menu {}

    &.open {
      .dropdown-toggle {
        background-color: transparent;
        color: $white;

        body.checkout &,
        body.user-dashboard & {
          color: $text-color;
        }
      }
    }

  }

  // Elements
  .navbar-nav {
    .sign {
      &-in {
        color: $white;

        span {}
      }
      &-up {
        color: $white;

        span {
          border: 2px solid $white;

          &:hover {
            background-color: $white;
            color: $text-color;
          }
        }
      }
    }
  }

  // Wrapper
  .nav-wrapper {
    padding: 0 220px;
  }
}

/* Pages */
// .home {}
// .search {}
// .class {}
// .checkout {}
