/* Half star rating */

.rating-half-star {
  font-size: 0;
  white-space: nowrap;

  /* Read states */
  &[read-only="true"] { cursor: default; }
  &[read-only="false"] { cursor: pointer; }

  /* Stars */
  .glyphicon {
    width: 14px;
    padding-left: 3px;
    font-size: 24px;
    text-align: left;
    overflow: hidden;

    &:focus {
      outline: none !important;
    }

    &:nth-of-type(2n) {
      transform: rotateY(180deg);
    }

    &-star {
      color: $brand-yellow;
    }
    &-star-empty {
      color: #eaeaea;

      &:before {
        content: '\e006'; // \e007
      }
    }
  }
}
