/* CHECKOUT PAGE: */
.checkout {

  /* Main Container BG */
  .main {
    background: #f4f4f4;
  }

  &-content {
    padding: 40px 0 0;

    // Common Form styles
    form {

      // Label mark
      .control-label {
        line-height: 1.2;

        a {
          font-style: normal;
          color: $brand-blue;
          text-decoration: none;

          &:hover, &:active {
            text-decoration: underline;
          }
        }

        &-mark {
          &.valid { color: inherit; }
          &.touched.invalid { color: $brand-pink; }
        }
      }

      // Fields
      .form-control {
        border-color: #dedede;
        background-color: #fff;
      }

      // Highlight all invalid fields on first form submit
      &.submitted {

        // Label mark
        .control-label {
          &-mark {
            &.invalid { color: $brand-pink; }
          }
        }

        // Fields
        .form-control.ng-invalid,
        md-checkbox.ng-invalid .md-icon { border-bottom-color: $brand-pink;
          &:focus { border-bottom-color: $brand-pink; }
        }
      }

      // Divider
      hr { margin: 30px 0; }
    }

    // Common elements
    &-inner {
      position: relative;
    }

    &-loader {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(#f4f4f4,0.5);
      opacity: 1;
      transition: opacity 0.5s ease-in-out 0s;

      &.ng-hide {
        z-index: -1;
        opacity: 0;
      }

      // Loader
      md-progress-circular {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        path {
          stroke: $brand-pink;
        }
      }
    }

    &-errors {
      margin: 0;
      padding: 20px 30px;
      background-color: #eaeaea;
      list-style: none;
      font-style: italic;
      font-size: 16px;
      color: $brand-danger;

      &.ng-hide {
        display: none;
      }

      li {
        margin: 0.3em 0;
      }
    }
  }

  &-confirm-note {
    position: relative;
    z-index: 1;
    margin: 0 5px;
    padding: 5px 10px;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    color: $brand-salmon;
    text-align: center;
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;

    &.ng-hide {
      margin-top: -30px;
      opacity: 0;
    }

    // Blocks
    .checkout-details & {
      background: #fff;
    }
    .checkout-payment & {
      background: #f4f4f4;
    }
  }
}


/* Details */
.checkout-details {

  // Elements
  &-top {
    margin: 0 0 15px;
    // font-size: 14px;
    color: #555;
  }
  &-back {
    position: relative;
    padding: 0 0 0 25px;
    color: inherit;

    &:before {
      content: '\2190';
      position: absolute;
      left: 0;
    }

    &:hover, &:active, &:focus {
      color: inherit;
    }
  }

  &-content {
    background: #fff;
    font-size: 1.14em;
    color: #333;
  }

  &-class {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    min-height: 160px;
    line-height: 1.8;

    &-illustration {
      flex-basis: 220px;
      flex-grow: 0;
      flex-shrink: 0;
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &-description {
      flex-basis: 50%;
      padding: 20px 30px;
    }
    &-title {
      display: block;
      margin: 0 0 0.6em;
      font-weight: 700;
      font-size: 1.25em;
    }
    &-summary {
      flex-basis: 50%;
      padding: 20px 30px;
      text-align: right;
    }
    &-total {
      display: block;
      margin: 1.5em 0 0;
      font-size: 1.125em;
    }
  }

  &-members {

    &-header {
      padding: 25px 30px;
      font-weight: 700;
      font-size: 1em;
    }
    &-list {
      margin: 0;
      padding: 0;
      list-style: none;

      li {

        &:nth-child(2n + 1) {
          background: #eaeaea;
        }
      }
    }
  }

  &-member {
    padding: 25px 30px;

    // Columns
    [class^='col-'] {
      margin: 0 0 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-bottom {
    padding: 10px 0;
    text-align: right;
  }
  &-confirm {
    display: inline-block;
    max-width: 100%;
    width: 360px;
  }
  &-button {
    position: relative;
    z-index: 2;
    width: 100%;
    border-width: 0;
    border-color: transparent;
    background-color: $brand-salmon;
    font-weight: 400;
    font-size: 18px;
    color: #fff;

    &:hover, &:active, &:focus, &:active:focus {
      background-color: darken($brand-salmon, 10%);
      color: #fff;
    }
  }

  // Form elements
  .control-label {
    font-weight: 400;
  }
}


/* Payment */
.checkout-payment {
  background: #fff;
  color: #333;

  // Elements
  &-top {
    padding: 40px 30px;
    border-bottom: 1px solid #efefef;
    font-size: 1.78em;
    text-align: center;
  }
  &-content {
    padding: 45px 30px 50px;

    @media (min-width: $screen-sm-min) {
      display: flex;
      align-items: stretch;
      justify-content: center;
    }
  }
  &-bottom {}

  &-details {
    margin-bottom: 80px;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 0;
      padding: 0 50px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.booking {

      @media (min-width: $screen-sm-min) {
        border-right: 1px solid #efefef;
      }
    }
    &.card {

      @media (min-width: $screen-sm-min) {
        border-left: 1px solid #efefef;
      }
    }

    &-title {
      margin: 0 0 0.8em;
      font-size: 1.78em;
      text-align: center;
    }
    &-content {}

    // Columns
    [class^='col-'] {
      margin: 0 0 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-confirm {}
  &-button {
    position: relative;
    z-index: 2;
    border-width: 0;
    border-color: transparent;
    background-color: $brand-salmon;
    font-weight: 400;
    font-size: 18px;
    color: #fff;

    &:hover, &:active, &:focus, &:active:focus {
      background-color: darken($brand-salmon, 10%);
      color: #fff;
    }
  }

  &-flag {
    margin: 10px 0 0;

    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
  }

  // Form elements
  .control-label {
    margin: 0 0 12px;
    font-weight: 700;
    font-size: 1.28em;
  }
}


/* Confirmation */
.checkout-confirmation {
  text-align: center;

  &-top {
    margin: 0;
    padding: 30px 30px 0;
    background: #fff;
    font-weight: 700;
    font-size: 1.8em;
    text-transform: none;
  }
  &-content {
    padding: 30px 30px;
    background: #fff;
    font-size: 1.14em;

    h3, h4 {
      font-weight: 700;
      text-transform: none;
    }

    h3 {
      margin: 1.6em 0 1.6em;
      font-size: 1.25em;
    }
    h4 {
      margin: 1.6em 0 0.6em;
      font-size: 1em;
    }

    p {
      margin: 0 0 0.6em;
    }

    ul {
      margin: 0 0 0.6em;
      padding: 0;
      list-style: none;
    }
    li {
      margin: 0.3em 0;
    }
  }
  &-illustration {
    width: 220px;
    height: 170px;
    margin: 0 auto;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-bottom {
    padding: 10px 30px;
  }
  &-button {
    max-width: 100%;
    width: 360px;
    border-width: 0;
    border-color: transparent;
    background-color: $brand-salmon;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
  }
}


/* MD Tabs */
.checkout {
  md-tabs {
    color: #333;

    .md-tab {
      // float: none;
      // display: inline-block;
      margin: 0 32px;
      padding: 0 6px;
      font-size: 25px;
      line-height: 32px;
      color: inherit;
      text-transform: none;

      &.md-active {
        font-weight: 700;
        color: inherit;
      }

      // &[disabled] {
      //   color: #777;
      // }
    }

    md-ink-bar {
      background: $brand-blue;
      color: $brand-blue;
    }

    /* Steps */
    &.step-details {}
    &.step-payment {
      .md-tab:nth-child(1) {
        color: #777;
      }
    }
    &.step-confirmation {
      .md-tab:nth-child(1),
      .md-tab:nth-child(2) {
        color: #777;
      }
    }
  }
  md-tabs-wrapper {
    margin: 0 0 30px;
    border-width: 0 !important;
  }
  md-tabs-canvas {
    height: 32px;
  }
  md-pagination-wrapper {
    width: 100% !important;
    height: 32px;
  }


  /* MD Checkbox */
  md-checkbox {
    margin: 0;

    .md-container {
      width: 30px;
      height: 30px;
    }

    .md-icon {
      width: 30px;
      height: 30px;
      border-width: 1px;
      border-color: #dedede;
      border-radius: 0;
    }

    &.md-checked .md-icon {

      &:after {
        top: 6px;
        left: 12px;
      }
    }

    &:not(.md-checked) .md-icon {
      border-color: #dedede;
    }

    .md-label {
      margin-left: 45px;
    }
  }
}
