/* ONE CLASS PAGE: */

.class {

  &-teacher {
    width: 150px;
    position: absolute;
    bottom: 15px;
    left: 0;
  }
  &-content {
    padding-right: 315px;
  }
  &-booking {
    background-color: $white;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);

    &-wrapper {
      position: absolute;
      top: 280px;
      right: 0;
      width: 300px;
    }
  }
}




/* OTHER: */

/* Top Navigation */
.class {
  .navbar {
    background-color: transparent;
    z-index: 10;
    border-bottom: none;

    .navbar-nav > .open > a {
      background-color: transparent;
    }
    .nav-wrapper {
      padding: 0 220px;
    }
  }
}

/* Hero */
.class {
  .hero {
    margin-top: -($navbar-height);

    .content {
      max-width: 450px;
      margin: 0 auto;
      padding: 120px 0 70px;
    }

    h1 {
      margin-bottom: 0;
      font-size: 40px;
    }

    .lead {
      font-size: 16px;
    }
  }
}
