/* HOME PAGE: */




/* OTHER: */

/* Top Navigation */
.home {
  .navbar {

    &-inverse {
      background-color: transparent;
      z-index: 10;

      .navbar-nav > .open > a {
        background-color: transparent;
      }
    }

    &-links {
      z-index: 20;
    }

  }
  .logo {display: none}
}

/* Hero */
.home {
  .hero {
    margin-top: -($navbar-height);
  }
}
