// Only page specific CSS and only if needed
.home {

  .navbar {
    background-color: transparent;
    border: none;
    z-index: 10;

    .search-form,
    .navbar-logo {
      display: none; // For now
    }
  }
  .navbar .navbar-nav > .open > a {background-color: transparent;}

  .hero {margin-top: -($navbar-height)}

  .navbar-links {
    z-index: 20;
  }

}
