/* SEARCH PAGE: */
.search {
  font-size: 12px;
  color: #555;
  line-height: 1.5;
}

/* Search filter */
$filter-width: 846px;
.search {

  &-filter {
    position: relative;
    height: 90px;
    margin: -20px 0 30px;
    font-size: 0;
    text-align: center;

    @media (max-width: 1000px) {
      height: auto;
    }

    $block: &;

    &.fixed {}

    &-panel {
      display: inline-block;
      background: $white;
      box-shadow: 0 1px 2px -1px rgba(0,0,0,0.2);
      color: #555;
    }

    &-list {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: stretch;
      margin: 0;
      padding: 0;
      border: 1px solid #e8e8e8;
      border-top: none;
      font-size: 12px;
      list-style: none;

      @media (max-width: 1000px) {
        flex-wrap: wrap;
      }
    }
    &-item {
      position: relative;
      padding: 8px 20px;
      border-top: 1px solid #e8e8e8;

      @media (max-width: 1000px) {
        flex-basis: 33.3333%;
        padding: 16px 20px;
      }
      @media (max-width: 640px) {
        flex-basis: 50%;
      }

      &:before {
        content: '';
        position: absolute;
        top: 12px;
        left: -1px;
        bottom: 12px;
        display: block;
        border-left: 1px solid #e8e8e8;
      }

      &:first-child {

        &:before {
          display: none;
        }
      }

      #{$block}-divider + & {

        &:before {
          display: none;

          @media (max-width: 1000px) {
            display: block;
          }
        }
      }
    }
    &-divider {
      position: relative;
      border-left: 4px solid #f3f3f3;

      @media (max-width: 1000px) {
        display: none;
      }
    }

    &-title {
      margin: 0 0 8px;
      font-size: 16px;
    }
    &-widget {}

    /* Textfield & Dropdown */
    .form-control,
    .wrap-dd-select {
      display: inline-block;
      width: 90px;
      height: 25px;
      padding: 2px 12px;
      text-align: center;
      white-space: nowrap;

      @media (max-width: 1000px) {
        width: 80%;
      }
    }
    .wrap-dd-select .dropdown li a {
      padding: 2px 12px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    /* Price slider */
    .rz {

      &slider {
        width: 100px;
        margin: 8px 0 26px;
        font-size: 11px;
      }

      &-bar {
        background: #e2e2e2;

        &-wrapper {
          height: 16px;
          margin-top: -6px;
          padding-top: 6px;
        }
      }

      &-bar.rz-selection {
        border-radius: 0;
        background: $brand-orange;
      }

      &-pointer {
        top: -6px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #fff;
        border: 1px solid rgba(0,0,0,0.2);
        box-shadow: 0 2px 3px rgba(0,0,0,0.1);

        &:after {
          display: none;
        }

        &:focus {
          outline: none;
        }
      }

      &-bubble {
        bottom: -26px;
        color: #555;

        &.rz-floor { transform: translate(-50%, 0); }
        &.rz-ceil { transform: translate(50%, 0); }

        &:nth-child(7) { left: 0 !important; right: auto !important; visibility: visible !important; transform: translate(-50%, 0) }
        &:nth-child(8) { right: 0 !important; left: auto !important; visibility: visible !important; transform: translate(50%, 0); }
        &:nth-child(9) { display: none !important; }
      }
    }
  }
}


/* Search results */
.search {

  &-results {}

  &-loader {
    margin: 0 0 30px;

    md-progress-circular {
      margin: 0 auto;

      path {
        stroke: $brand-orange;
      }
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 -10px;
  }

  &-item {
    width: 270px;
    margin: 2.4em 10px 20px;
    background-color: $white;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;

    em {
      color: $brand-orange;
    }

    &-content {
      position: relative;
      display: block;
      min-height: 230px;
      padding: 20px 30px;
      background-color: rgba(0,0,0,0.3);
      color: inherit;
      text-decoration: none;
      cursor: pointer;

      &:hover,
      &:active,
      &:focus {
        box-shadow: 0 0 0 1px #9a9a9a;
        background-color: rgba(0,0,0,0.6);
        color: inherit;
        text-decoration: none;
      }

      &:focus {
        outline: none;
      }
    }

    &-price {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      display: block;
      padding: 8px 12px;
      background: rgba(0,0,0,0.4);
      color: $brand-orange;
    }

    &-date {
      position: absolute;
      top: -1.8em;
      right: 0;
      left: 0;
      font-weight: 700;
      color: #555;
    }

    &-title {
      margin: 0 30px 0.2em;
      font-size: 1.3em;
    }
    &-location {
      margin: 0 0 1.2em;
      font-style: italic;
    }

    &-rating {
      margin: 0 0 1.2em;

      .rating-half-star .glyphicon-star-empty {
        color: rgba(255,255,255,0.4);
      }

      &-text {
        display: block;
        margin: 5px 0 0;
      }
    }

    &-description {
      margin: 0 0 1.2em;
      min-height: 3em;
    }

    &-link {
      font-style: italic;
      font-size: 0.9em;
      color: inherit;
      text-decoration: underline;
    }
  }

  &-message {
    text-align: center;
  }

  &-more {
    padding: 15px 30px;
    border: 1px solid #e1e1e1;
    background: $white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    font-size: 1.3em;
    color: $brand-orange;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: darken($white, 5%);
    }
  }
}


/* Search pagination */
.search {

  &-pagination {
    margin: 30px 0;
    padding: 10px 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
  }
}




/* OTHER: */

/* Top Navigation */
.search {
  .navbar {
    background-color: transparent;
    z-index: 10;
    border-bottom: none;

    .navbar-nav > .open > a {
      background-color: transparent;
    }
    .nav-wrapper {
      padding: 0 220px;
    }
  }
}

/* Hero */
.search {
  .hero {
    margin-top: -($navbar-height);

    .content {
      margin: 0 auto;
      padding: 120px 0 70px;
    }

    h1 {
      margin-bottom: 0;
      font-size: 40px;
    }

    .lead {
      font-size: 16px;
    }
  }
}
