//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-family: $font-family-montserrat;
  font-weight: $btn-font-weight;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border-width: 1px;
  border-style: solid;
  white-space: nowrap;
  @include opacity(1);
  @include button-size($padding-base-vertical + 4, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
  @include user-select(none);
  @include transition(color ease-in-out .15s, background ease-in-out .15s, opacity ease-in-out .15s, border ease-in-out, .15s);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      //@include tab-focus;
      outline: 0;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    //@include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    // cursor: $cursor-disabled;
    // @include opacity(.40);
    // @include box-shadow(none);
  }

  .text {
    @include translate(0, 0);
    @include opacity(1);
    visibility: visible;
    @include transition(all ease-in-out .2s);
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.6);
    @include opacity(0);
    visibility: hidden;
    @include transition-transform(ease-in 5s);
    @include translate(-100%, 0);
  }
  &:after {
    content: "Submitting...";
    font-size: 14px;
    line-height: 1;
    display: block;
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
    color: rgba(255, 255, 255, 0.6);
    @include opacity(0);
    visibility: hidden;
    @include transition(all ease-in-out .2s);
    @include translate(0, -40px);
  }

  &.loading {
    cursor: $cursor-disabled;
    overflow: hidden;
    position: relative;
    .text {
      display: block;
      @include translate(0, 40px);
      @include opacity(0);
      visibility: hidden;
    }
    &:before {
      @include opacity(1);
      visibility: visible;
      @include translate(0, 0);
    }
    &:after {
      @include opacity(1);
      visibility: visible;
      @include translate(0, 0);
    }
  }

  // [converter] extracted a& to a.btn
}

a.btn {
  &.disabled,
  &.loading,
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}


// Alternate buttons
// --------------------------------------------------

.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}
.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
// Success appears as green
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
// Info appears as blue-green
.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
  font-size: $font-size-xsmall;
}
// Warning appears as orange
.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}
.btn-alternative {
  @include button-variant($btn-alternative-color, $btn-alternative-bg, $btn-alternative-border);
  border-width: 1px;
}
.btn-white {
  @include button-variant($white, transparent, $white);
  border-width: 2px;
  &:hover {
    @include button-variant($gray-dark, $white, $white);
  }
}


// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  color: $link-color;
  font-weight: normal;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}
.btn-alternative {
  &:hover, &:focus, &:active {
    background-color: $btn-alternative-color;
    color: $btn-alternative-bg;
    border-color: $btn-alternative-color;
  }
}

// Button Sizes
// --------------------------------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-xsmall, $line-height-small, $btn-border-radius-small);
}
.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}


// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 15px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
.btn-shadow {
  @include box-shadow(0 2px 2px 0 rgba(0, 0, 0, 0.2));
}

.btn-social {
  position: relative;
  .icon, .image {
    position: absolute;
    top: $padding-base-horizontal - 2;
    left: $padding-base-horizontal;
  }
}

.btn-google {
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
  color: #565a5c;
  &:hover {
    border-color: darken(#c4c4c4, 15%);
  }
  .image-google {
    background-image: url(../images/google-icon.png);
    background-size: contain;
    height: 18px;
    width: 18px;
  }
}
.btn-facebook {
  background-color: #3B5998;
  color: #ffffff;
  border: 1px solid transparent;
  &:hover, &:focus {
    background-color: lighten(#3B5998, 10%);
    color: #ffffff;
  }
  .icon {
    font-size: 18px;
  }
}
