// Overwrites _form.scss
.search-form {
  position: relative;
  max-width: $search-form-width + 4*2;
  margin: 20px auto;
  border: 4px solid rgba(0,0,0,0.2);
  border-radius: 4px;

  .navbar & {
    top: 4px;
    margin: 0 auto;
  }

  &-fieldset {
    position: relative;
    padding-right: $search-button-width;
    // @include box-shadow(0 0 0 4px rgba(0,0,0,0.2));
  }
  &-submit {
    position: absolute;
    top: 0;
    right: 0;
    width: $search-button-width;

    .btn {
      height: 50px;
      padding: 0 10px;
      line-height: 50px;
    }
  }


  /* Form components */
  .form-group {
    float: left;
    width: 50%;
    margin-bottom: 0;
    border-right: 1px solid $gray-light;

    &:last-of-type {
      border-right: none;
    }
  }
  .form-control {
    border: 0;
    background-color: $white;
  }
}
