// Overwrites _form.scss
.search-form {
  position: relative;
  max-width: $search-form-width;
  padding-right: $search-button-width;
  //@include box-shadow(0 0 0 2px rgba(0,0,0,0.2));
  border: 2px solid rgba(0,0,0,0.2);
  margin: 0 auto;
  //top: 8px;

  .form-group {
    width: 50%;
    float: left;
    margin-bottom: 0;
    &:first-child {
      border-right: 1px solid $gray-lighter;
    }
  }
  .search-submit {
    width: $search-button-width;
    position: absolute;
    top: -2px;
    right: -2px;
    .btn {
      padding: 13px 16px;
    }
  }
  .form-control {
    border: 0;
    background-color: $white;
  }
}
