<div class="container">

  <div ng-include="'user/navs/user-nav.html'"></div>

  <div class="panel panel-form block">
    <div class="panel-heading">
      <h2 class="panel-title text-center">
        Add your class
      </h2>
      <p class="text-center">
        Lets start by adding the basic details about your class
      </p>
    </div>
    <div class="panel-body">
      <form name="addClassForm" ng-submit="userAddClass.addClass()" class="form-horizontal">
        <fieldset>

          <div class="form-group">
            <label class="control-label">Name</label>
            <div>
              <input ng-model="userAddClass.title" type="text" class="form-control form-full" placeholder="Class name" required/>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label">Category</label>
            <div>
              <select ng-model="userAddClass.categoryId" ng-change="userAddClass.classCategory(userAddClass.categoryId)" class="form-control form-full" ng-options="category.id as category.title for category in userAddClass.categories track by category.id" required>
                <option value="">-- Select Category --</option>
              </select>
            </div>
          </div>

          <div ng-repeat="category in userAddClass.categories" ng-if="category.id == userAddClass.subCategory && category.subcats[0]" class="form-group">
              <label class="control-label">Sub category</label>
              <div>
                <select ng-model="userAddClass.subcategoryId" class="form-control form-full" ng-options="subCategory.id as subCategory.title for subCategory in category.subcats track by subCategory.id">
                  <option value="">-- Select Sub Category --</option>
                </select>
              </div>
          </div>

          <div class="form-group">
            <label class="control-label">Price</label>
            <div class="tooltip-wrapper">
              <div class="tooltip-button question-button">
                <span>?</span>
              </div>
              <span class="tooltip top question">
                <div class="tooltip-inner">
                  Per person
                </div>
              </span>
            </div>

            <div class="custom-radio-wrapper">
              <div class="col-md-3">
                <label class="btn btn-default btn-block" ng-model="userAddClass.priceRadio" uib-btn-radio="0" ng-click="userAddClass.customPrice = false">Free</label>
              </div>
              <div class="col-md-2">
                <label class="btn btn-default btn-block" ng-model="userAddClass.priceRadio" uib-btn-radio="10" ng-click="userAddClass.customPrice = false">$10</label>
              </div>
              <div class="col-md-2">
                <label class="btn btn-default btn-block" ng-model="userAddClass.priceRadio" uib-btn-radio="20" ng-click="userAddClass.customPrice = false">$20</label>
              </div>
              <div class="col-md-2">
                <label class="btn btn-default btn-block" ng-model="userAddClass.priceRadio" uib-btn-radio="30" ng-click="userAddClass.customPrice = false">$30</label>
              </div>
              <div class="col-md-3">
                <label class="btn btn-default btn-block" ng-model="userAddClass.priceRadio" uib-btn-radio="'custom'" ng-click="userAddClass.customPrice = true" ng-if="!userAddClass.customPrice">Custom</label>
              </div>
              <div class="col-md-3">
                <input ng-model="userAddClass.priceInput" type="number" class="form-control form-full" ng-if="userAddClass.customPrice" />
              </div>
            </div>

          </div>

          <div class="form-group">

            <label class="control-label">Size</label>
            <div class="tooltip-wrapper">
              <div class="tooltip-button question-button">
                <span>?</span>
              </div>
              <span class="tooltip top question">
                <div class="tooltip-inner">
                  Max size
                </div>
              </span>
            </div>

            <div class="custom-radio-wrapper">
              <div class="col-md-1">
                <label class="btn btn-default btn-block" ng-model="userAddClass.sizeRadio" uib-btn-radio="1" ng-click="userAddClass.customSize = false">1</label>
              </div>
              <div class="col-md-1">
                <label class="btn btn-default btn-block" ng-model="userAddClass.sizeRadio" uib-btn-radio="2" ng-click="userAddClass.customSize = false">2</label>
              </div>
              <div class="col-md-1">
                <label class="btn btn-default btn-block" ng-model="userAddClass.sizeRadio" uib-btn-radio="5" ng-click="userAddClass.customSize = false">5</label>
              </div>
              <div class="col-md-3">
                <label class="btn btn-default btn-block" ng-model="userAddClass.sizeRadio" uib-btn-radio="10" ng-click="userAddClass.customSize = false">10</label>
              </div>
              <div class="col-md-3">
                <label class="btn btn-default btn-block" ng-model="userAddClass.sizeRadio" uib-btn-radio="20" ng-click="userAddClass.customSize = false">20</label>
              </div>
              <div class="col-md-3">
                <label class="btn btn-default btn-block" ng-model="userAddClass.sizeRadio" uib-btn-radio="'custom'" ng-click="userAddClass.customSize = true" ng-if="!userAddClass.customSize">Custom</label>
              </div>
              <div class="col-md-3">
                <input ng-model="userAddClass.sizeInput" type="number" class="form-control form-full" ng-if="userAddClass.customSize" />
              </div>
            </div>

          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" ng-disabled="addClassForm.$invalid">Add class</button>
          </div>

        </fieldset>
      </form>

    </div>
  </div>

</div>

<!--
<div class="panel">
  <div class="panel-heading">
    <h2 class="panel-title">Add class</h2>
  </div>
  <div class="panel-body">
    <form name="addClassForm" ng-submit="user.addClass()" class="form-horizontal" ng-if="user.showAddClass">
      <fieldset>

        <div class="form-group">
          <div class="col-md-12">
            Lets start with the basic details about your class
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Name</label>
          <div class="col-md-10">
            <input ng-model="user.title" type="text" class="form-control form-full" placeholder="Class name" required/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Category</label>
          <div class="col-md-10">
            <select ng-model="user.categoryId" ng-change="user.classCategory(user.categoryId)" class="form-control form-full" ng-options="category.id as category.title for category in user.categories track by category.id" required></select>
          </div>
        </div>

        <div ng-repeat="category in user.categories" ng-if="category.id == user.subCategory && category.subcats[0]" class="form-group">
            <label class="col-md-2 control-label">Sub category</label>
            <div class="col-md-10">
              <select ng-model="user.subcategoryId" class="form-control form-full" ng-options="subCategory.id as subCategory.title for subCategory in category.subcats track by subCategory.id"></select>
            </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Price</label>
          <div class="col-md-10">
            <input ng-model="user.price" type="number" class="form-control form-full" placeholder="Price per person for your class" required/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Size</label>
          <div class="col-md-10">
            <input ng-model="user.size" type="number" class="form-control form-full" placeholder="The maximum number of pupils you want" required/>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-12 col-md-offset-2">
            <button type="submit" class="btn btn-primary" ng-disabled="addClassForm.$invalid">Next</button>
          </div>
        </div>

      </fieldset>

    </form>

    <form name="addClassOptionalForm" ng-submit="user.addClassOptional()" class="form-horizontal" ng-if="user.showAddClassOptional">
      <fieldset>

        <div class="form-group">
          <div class="col-md-12">
            Now lets add in some more detail about your class. The more information you add the more successful your class will be, so get creative with your descriptions!
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Short description</label>
          <div class="col-md-10">
            <textarea ng-model="user.brief" class="form-control form-full" rows="3" placeholder="Short description" required></textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Main description</label>
          <div class="col-md-10">
            <textarea ng-model="user.description" class="form-control form-full" rows="3" placeholder="Main description"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Cover photo</label>
          <div class="col-md-10">
            Will be going here
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Other photos</label>
          <div class="col-md-10">


            <button ngf-select="user.uploadClassPhotos($files, $invalidFiles)" multiple accept="image/*" ngf-max-height="5000" ngf-max-width="5000" ngf-max-size="5MB" ngf-resize="{width: 300, height: 300, quality: .8, type: 'image/jpeg'}" ngf-resize-if="$width > 300 || $height > 300">
              Select Photos
            </button>
            <br><br>
            Files:
            <ul>
              <li ng-repeat="photo in user.photos">
                {{photo.name}}
                {{photo.$errorParam}}
                <span class="progress" ng-show="photo.progress >= 0">
                  <div style="width:{{photo.progress}}%" ng-bind="photo.progress + '%'"></div>
                </span>
              </li>
              <li ng-repeat="f in user.errFiles">
                {{f.name}}
                {{f.$error}}
                {{f.$errorParam}}
              </li>
            </ul>
            {{user.errorMsg}}


          </div>
        </div>

        <div class="form-group">
          <div class="col-md-12 col-md-offset-2">
            <button type="submit" class="btn btn-primary" ng-disabled="addClassOptionalForm.$invalid">Next</button>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12 col-md-offset-4">
            <button type="button" ng-click="user.classOptionalSkip()" class="btn btn-secondary">Skip</button>
          </div>
        </div>

      </fieldset>

    </form>

    <form name="addClassDatesForm" ng-submit="user.addClassDates()" class="form-horizontal" ng-if="user.showAddClassDates">
      <fieldset>

        <div class="form-group">
          <div class="col-md-12">
            Lets add some dates for your class. You don't have to add them all now, its easy to come back and add more later.
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Add day</label>
          <div class="col-md-10">
            <uib-datepicker ng-model="user.classDate"></uib-datepicker>
            <input ng-model="user.classDate" type="text" class="form-control form-full"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Add time</label>
          <div class="col-md-10">
            <uib-timepicker ng-model="user.classStartTime"></uib-timepicker>
            <input ng-model="user.classStartTime" type="text" class="form-control form-full"/>
          </div>
          <label class="col-md-2 control-label">End time</label>
          <div class="col-md-10">
            <uib-timepicker ng-model="user.classEndTime"></uib-timepicker>
            <input ng-model="user.classEndTime" type="text" class="form-control form-full"/>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-12 col-md-offset-2">
            <button type="submit" class="btn btn-primary" ng-disabled="addClassDatesForm.$invalid">Save class</button>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12 col-md-offset-4">
            <button type="button" ng-click="user.classDatesSkip()" class="btn btn-secondary">Skip</button>
          </div>
        </div>

      </fieldset>

    </form>

    <div class="" ng-if="user.showAddClassSuccess">
      <h3>You have successfully added your class!</h3>
    </div>

  </div>

</div> -->
