<div class="panel">
  <div class="panel-heading">
    <h2 class="panel-title">Add class</h2>
  </div>
  <div class="panel-body">
    <form name="addClassForm" ng-submit="user.addClass()" class="form-horizontal" ng-if="user.showAddClass">
      <fieldset>

        <div class="form-group">
          <div class="col-md-12">
            Lets start with the basic details about your class
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Name</label>
          <div class="col-md-10">
            <input ng-model="user.title" type="text" class="form-control" placeholder="Class name" required/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Category</label>
          <div class="col-md-10">
            <select ng-model="user.categoryId" ng-change="user.classCategory(user.categoryId)" class="form-control" ng-options="category.id as category.title for category in user.categories track by category.id" required></select>
          </div>
        </div>

        <div ng-repeat="category in user.categories" ng-if="category.id == user.subCategory && category.subcats[0]" class="form-group">
            <label class="col-md-2 control-label">Sub category</label>
            <div class="col-md-10">
              <select ng-model="user.subcategoryId" class="form-control" ng-options="subCategory.id as subCategory.title for subCategory in category.subcats track by subCategory.id"></select>
            </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Price</label>
          <div class="col-md-10">
            <input ng-model="user.price" type="number" class="form-control" placeholder="Price per person for your class" required/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Size</label>
          <div class="col-md-10">
            <input ng-model="user.size" type="number" class="form-control" placeholder="The maximum number of pupils you want" required/>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-12 col-md-offset-2">
            <button type="submit" class="btn btn-primary" ng-disabled="addClassForm.$invalid">Next</button>
          </div>
        </div>

      </fieldset>

    </form>

    <form name="addClassOptionalForm" ng-submit="user.addClassOptional()" class="form-horizontal" ng-if="user.showAddClassOptional">
      <fieldset>

        <div class="form-group">
          <div class="col-md-12">
            Now lets add in some more detail about your class. The more information you add the more successful your class will be, so get creative with your descriptions!
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Short description</label>
          <div class="col-md-10">
            <textarea ng-model="user.brief" class="form-control" rows="3" placeholder="Short description" required></textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Main description</label>
          <div class="col-md-10">
            <textarea ng-model="user.description" class="form-control" rows="3" placeholder="Main description"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Cover photo</label>
          <div class="col-md-10">
            Will be going here
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Other photos</label>
          <div class="col-md-10">
            Will be going here
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-12 col-md-offset-2">
            <button type="submit" class="btn btn-primary" ng-disabled="addClassOptionalForm.$invalid">Next</button>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12 col-md-offset-4">
            <button type="button" ng-click="user.classOptionalSkip()" class="btn btn-secondary">Skip</button>
          </div>
        </div>

      </fieldset>

    </form>

    <form name="addClassDatesForm" ng-submit="user.addClassDates()" class="form-horizontal" ng-if="user.showAddClassDates">
      <fieldset>

        <div class="form-group">
          <div class="col-md-12">
            Lets add some dates for your class. You don't have to add them all now, its easy to come back and add more later.
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Add day</label>
          <div class="col-md-10">
            Day goes here
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Add time</label>
          <div class="col-md-10">
            Time goes here
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-12 col-md-offset-2">
            <button type="submit" class="btn btn-primary" ng-disabled="addClassDatesForm.$invalid">Next</button>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12 col-md-offset-4">
            <button type="button" ng-click="user.classDatesSkip()" class="btn btn-secondary">Skip</button>
          </div>
        </div>

      </fieldset>

    </form>

    <div class="" ng-if="user.showAddClassSuccess">
      <h3>You have successfully added your class!</h3>
    </div>

    <!-- <div class="form-group">
      <label class="col-md-2 control-label">Start time</label>
      <div class="col-md-10">
         <uib-timepicker ng-model="user.startTime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
        <uib-timepicker ng-model="user.startTime"></uib-timepicker>
        <input ng-model="user.startTime" type="text" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">End time</label>
      <div class="col-md-10">
        <uib-timepicker ng-model="user.endTime"></uib-timepicker>
        <input ng-model="user.endTime" type="text" class="form-control"/>
      </div>
    </div> -->

  </div>

</div>
