<div class="container">

  <div ng-include="'user/navs/user-nav.html'"></div>

  <uib-tabset active="userEditClass.tabIndex" vertical="true" type="pills" class="panel-blue clearfix account-wrapper">

    <uib-tab index="0">
      <uib-tab-heading>
        <div class="strong heading-font font-big">The Basics</div>
        <div>Name, category, price and size</div>
      </uib-tab-heading>

      <!-- The Basics -->
      <div class="account-content-wrapper">

        <div class="account-heading pb4 mb4">
          <h2 class="heading-font text-center uppercase m0 mb1">The basics</h2>
          <p class="text-center font-big m0">Edit the basic details about your class</p>
        </div>

          <form name="userEditClass.addClassForm" ng-submit="userEditClass.editClassBasics()" class="form-horizontal">
            <fieldset>

              <div class="form-group">
                <label class="control-label">Name</label>
                <div>
                  <input ng-model="userEditClass.classData.title" type="text" name="title" class="form-control form-full" placeholder="Class name" required/>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label">Category</label>
                <div>
                  <select ng-model="userEditClass.classData.category" ng-change="userEditClass.classCategory(userEditClass.classData.category.id)" class="form-control form-full" ng-options="category as category.title for category in userEditClass.categories track by category.id" required>
                    <option value="">-- Select Category --</option>
                  </select>
                </div>
              </div>

              <div ng-repeat="category in userEditClass.categories" ng-if="category.id == userEditClass.subCategory && category.subcats[0]" class="form-group">
                  <label class="control-label">Sub category</label>
                  <div>
                    <select ng-model="userEditClass.classData.subcategory" class="form-control form-full" ng-options="subCategory as subCategory.title for subCategory in category.subcats track by subCategory.id">
                      <option value="">-- Select Sub Category --</option>
                    </select>
                  </div>
              </div>

              <div class="form-group">
                <label class="control-label">Price</label>
                <div class="tooltip-wrapper">
                  <div class="tooltip-button question-button">
                    <span>?</span>
                  </div>
                  <span class="tooltip top question">
                    <div class="tooltip-inner">
                      Per person
                    </div>
                  </span>
                </div>

                <div class="custom-radio-wrapper">
                  <div class="col-md-3">
                    <label class="btn btn-default btn-block" ng-model="userEditClass.classData.price" uib-btn-radio="'0.00'" ng-click="userEditClass.customPrice = false">Free</label>
                  </div>
                  <div class="col-md-2">
                    <label class="btn btn-default btn-block" ng-model="userEditClass.classData.price" uib-btn-radio="'10.00'" ng-click="userEditClass.customPrice = false">$10</label>
                  </div>
                  <div class="col-md-2">
                    <label class="btn btn-default btn-block" ng-model="userEditClass.classData.price" uib-btn-radio="'20.00'" ng-click="userEditClass.customPrice = false">$20</label>
                  </div>
                  <div class="col-md-2">
                    <label class="btn btn-default btn-block" ng-model="userEditClass.classData.price" uib-btn-radio="'30.00'" ng-click="userEditClass.customPrice = false">$30</label>
                  </div>
                  <div class="col-md-3">
                    <label class="btn btn-default btn-block" ng-model="userEditClass.classData.price" uib-btn-radio="'custom'" ng-click="userEditClass.customPrice = true; userEditClass.focusPrice()" ng-if="!userEditClass.customPrice">Custom</label>
                  </div>
                  <div class="col-md-3">
                    <input ng-model="userEditClass.priceInput" type="number" min="0" class="form-control form-full price-input" ng-if="userEditClass.customPrice" />
                  </div>
                </div>

              </div>

              <div class="form-group">

                <label class="control-label">Size</label>
                <div class="tooltip-wrapper">
                  <div class="tooltip-button question-button">
                    <span>?</span>
                  </div>
                  <span class="tooltip top question">
                    <div class="tooltip-inner">
                      Max size
                    </div>
                  </span>
                </div>

                <div class="custom-radio-wrapper">
                  <div class="col-md-1">
                    <label class="btn btn-default btn-block" ng-model="userEditClass.classData.size" uib-btn-radio="'1'" ng-click="userEditClass.customSize = false">1</label>
                  </div>
                  <div class="col-md-1">
                    <label class="btn btn-default btn-block" ng-model="userEditClass.classData.size" uib-btn-radio="'2'" ng-click="userEditClass.customSize = false">2</label>
                  </div>
                  <div class="col-md-1">
                    <label class="btn btn-default btn-block" ng-model="userEditClass.classData.size" uib-btn-radio="'5'" ng-click="userEditClass.customSize = false">5</label>
                  </div>
                  <div class="col-md-3">
                    <label class="btn btn-default btn-block" ng-model="userEditClass.classData.size" uib-btn-radio="'10'" ng-click="userEditClass.customSize = false">10</label>
                  </div>
                  <div class="col-md-3">
                    <label class="btn btn-default btn-block" ng-model="userEditClass.classData.size" uib-btn-radio="'20'" ng-click="userEditClass.customSize = false">20</label>
                  </div>
                  <div class="col-md-3">
                    <label class="btn btn-default btn-block" ng-model="userEditClass.classData.size" uib-btn-radio="'custom'" ng-click="userEditClass.customSize = true; userEditClass.focusSize()" ng-if="!userEditClass.customSize">Custom</label>
                  </div>
                  <div class="col-md-3">
                    <input ng-model="userEditClass.sizeInput" type="number" min="1" class="form-control form-full size-input" ng-if="userEditClass.customSize" />
                  </div>
                </div>

              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Update</button>
              </div>

            </fieldset>
          </form>

      </div>

    </uib-tab>





    <uib-tab index="1">
      <uib-tab-heading>
        <div class="strong heading-font font-big">The Details</div>
        <div>Brief, description and photos</div>
      </uib-tab-heading>

      <!-- The Details -->
      <div class="account-content-wrapper">

        <div class="account-heading pb4 mb4">
          <h2 class="heading-font text-center uppercase m0 mb1">
            The details
          </h2>
          <p class="text-center font-big m0">
            <span ng-if="!fromAddClass">
              You can easily edit the basic details using the navigation on the left
            </span>
            <span ng-if="fromAddClass">
              Great you have created <strong>{{ userEditClass.classData.title }}</strong>, now lets add in some more detail about your class. The more information you add the more successful your class will be, so get creative with your descriptions!
            </span>
          </p>
        </div>

        <form name="editClassDetailsForm" ng-submit="userEditClass.editClassDetails()" class="form-horizontal">
          <fieldset>

            <div class="form-group">
              <label class="control-label">Short description</label>
              <div>
                <textarea ng-model="userEditClass.classData.brief" class="form-control form-full" rows="2" placeholder="Short description" required></textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label">Main description</label>
              <div>
                <textarea ng-model="userEditClass.classData.description" class="form-control form-full" rows="4" placeholder="Main description"></textarea>
              </div>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">Update</button>
            </div>

          </fieldset>

        </form>

      </div>

    </uib-tab>



    <uib-tab index="2">
      <uib-tab-heading>
        <div class="strong heading-font font-big">The Photos</div>
        <div>Cover photo and class photos</div>
      </uib-tab-heading>

      <!-- The Details -->
      <div class="account-content-wrapper account-content-wrapper-wider">

        <div class="account-heading pb4 mb4">
          <h2 class="heading-font text-center uppercase m0 mb1">
            The Photos
          </h2>
          <p class="text-center font-big m0">
            Make your class page stand out by adding a class page and add additional images to show off what your class has to offer!
          </p>
        </div>

            <div class="form-group">
              <label class="control-label">Cover photo</label>
              <div ng-repeat="photo in userEditClass.classData.photos" ng-if="photo.isMain == 1">
                <img class="img-responsive" ng-src="{{imageUrl}}{{photo.src}}" />
              </div>
            </div>


            <div class="form-group">
              <label class="control-label">Class photos</label>

              <ul class="clearfix list-unstyled photo-gallery">
                <li ng-repeat="photo in userEditClass.classData.photos">
                  <div class="background-image" style="background-image: url('{{imageUrl}}{{photo.src}}')">
                    <!-- <img src="{{imageUrl}}{{photo.src}}" alt="" class="img-responsive"> -->
                    <span ng-click="photo.isMain == 1 || userEditClass.imageCover(photo.id)" class="icon icon-favorite" ng-class="{'active':photo.isMain == 1}"></span>
                    <span ng-click="userEditClass.imageRemove(photo.id, $event)" class="icon icon-bin"></span>
                  </div>
                </li>
              </ul>

              <button class="btn btn-alternative btn-block mt3" ngf-select="userEditClass.uploadFiles($files, $invalidFiles)" multiple accept="image/*" ngf-max-size="5MB">
                Add new photos
              </button>

              <ul class="list-unstyled">
                <li ng-repeat="f in userEditClass.errFiles">
                  {{f.name}} {{f.$error}} {{f.$errorParam}}
                </li>
                <li ng-repeat="f in userEditClass.files">
                  {{f.name}} {{f.$errorParam}}
                  <h3>{{f.progress}}</h3>
                  <span class="image-progress-bar">
                    <div style="width:{{f.progress}}%" class="font-white px4 py2">Progress</div>
                  </span>
                </li>
              </ul>

            </div>

      </div>

    </uib-tab>



    <uib-tab index="3">
      <uib-tab-heading>
        <div class="strong heading-font font-big">The Location</div>
        <div>Venue and facilities</div>
      </uib-tab-heading>

      <!-- The Location -->


    </uib-tab>





    <uib-tab index="4">
      <uib-tab-heading>
        <div class="strong heading-font font-big">The Dates</div>
        <div>Calendar and times</div>
      </uib-tab-heading>

      <!-- The Dates -->
      <div class="panel account-content-wrapper block">

        <div class="panel-heading">

          <h2 class="panel-title text-center">
            <span>
              Add your class dates and times
            </span>
          </h2>
          <p class="text-center">
            <span>
              Simply add your date and time and click save
            </span>
          </p>

        </div>

        <div class="panel-body">
          <form name="editClassDetailsForm" ng-submit="userEditClass.editClassDates()" class="form-horizontal">
            <fieldset>

              <div class="form-group">
                <label class="control-label">Date</label>
                <div>
                  <div uib-datepicker ng-model="userEditClass.classDate" datepicker-options="{showWeeks: false}"></div>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label">Time</label>
                <div>
                  <div uib-timepicker ng-model="userEditClass.classTime" hour-step="userEditClass.hstep" minute-step="userEditClass.mstep" show-meridian="true"></div>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label">Duration</label>
                <div>
                  <select name="classDuration"
      ng-options="option.name for option in userEditClass.classDuration.availableOptions track by option.id"
      ng-model="userEditClass.classDuration.selectedOption"></select>
                </div>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Add date</button>
              </div>

            </fieldset>

          </form>

        </div>
      </div>

      <ul class="date-data list-group">
        <li class="list-group-item" ng-repeat="date in userEditClass.classData.dates">
          <strong>{{date.classDate | date: 'd MMM yyyy'}}</strong>
          <ul class="list-unstyled" ng-repeat="time in date.times">
            <li class="list-group-item">
              {{time.startTime}} - {{time.endTime}}
              <div class="italic" ng-click="userEditClass.deleteClassTime(date.classDate, time.startTime, time.endTime)">
                delete
              </div>
            </li>
          </ul>
        </li>
      </ul>

    </uib-tab>





  </uib-tabset>

</div>
