<div class="container">

  <div ng-include="'globals/user-nav.html'"></div>

  <div class="text-center" ng-if="fromAddClass">
    <h3>
      Great you have created <strong>{{ addClassName }}</strong> lets add some more details
    </h3>
    <p>
      You can easily edit the basic details using the navigation on the left
    </p>
  </div>

  <div class="panel">
    <div class="panel-heading">
      <h2 class="panel-title">Edit class</h2>
    </div>
    <div class="panel-body">
      <form name="addClassForm" ng-submit="userAddClass.addClass()" class="form-horizontal">
        <fieldset>

          <div class="form-group">
            <label class="col-md-2 control-label">Brief</label>
            <div class="col-md-10">
              <input ng-model="userAddClass.title" type="text" class="form-control form-full" placeholder="Class name" required/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label">Description</label>
            <div class="col-md-10">
              <select ng-model="userAddClass.categoryId" ng-change="userAddClass.classCategory(userAddClass.categoryId)" class="form-control form-full" ng-options="category.id as category.title for category in userAddClass.categories track by category.id" required></select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label">Photos</label>
            <div class="tooltip-wrapper">
              <div class="tooltip-button question-button">
                <span>?</span>
              </div>
              <span class="tooltip top question">
                <div class="tooltip-inner">
                  Per person
                </div>
              </span>
            </div>
            <div class="col-md-10">
              <label class="btn btn-default col-md-3" ng-model="userAddClass.priceRadio" uib-btn-radio="0" ng-click="userAddClass.customPrice = false">Free</label>
              <label class="btn btn-default col-md-2" ng-model="userAddClass.priceRadio" uib-btn-radio="10" ng-click="userAddClass.customPrice = false">$10</label>
              <label class="btn btn-default col-md-2" ng-model="userAddClass.priceRadio" uib-btn-radio="20" ng-click="userAddClass.customPrice = false">$20</label>
              <label class="btn btn-default col-md-2" ng-model="userAddClass.priceRadio" uib-btn-radio="30" ng-click="userAddClass.customPrice = false">$30</label>
              <label class="btn btn-default col-md-3" ng-model="userAddClass.priceRadio" uib-btn-radio="'custom'" ng-click="userAddClass.customPrice = true" ng-if="!userAddClass.customPrice">Custom</label>
              <input ng-model="userAddClass.priceInput" type="number" class="form-control col-md-3" ng-if="userAddClass.customPrice" />
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12 col-md-offset-2">
              <button type="submit" class="btn btn-primary" ng-disabled="addClassForm.$invalid">Save</button>
            </div>
          </div>

        </fieldset>
      </form>

    </div>
  </div>

</div>
