<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Edit details</h3>
  </div>
  <div class="panel-body">
    <form ng-submit="user.editDetails()">

      <p>
        <span class="label label-success" ng-repeat="role in user.userData.roles">{{ role.title }}</span>
      </p>
      <div ng-repeat="userImage in user.userData.photos" class="thumbnail" ng-class="{default: userImage.isMain == 1}">
        <button class="delete-photo" ng-click="user.userImageDelete(userImage.id)">Delete</button>
        <button class="default-photo" ng-click="user.userImageDefault(userImage.id)">
          <span ng-if="userImage.isMain == 1">Remove as profile</span>
          <span ng-if="userImage.isMain == 0">Set as profile</span>
        </button>
        <img class="img-rounded" ng-src="{{imageUrl}}{{userImage.src}}"/>

      </div>
      <p>
        <strong>First name:
        </strong>
        <input ng-model="user.userData.profile.firstName" type="text" class="form-control"/>
      </p>
      <p>
        <strong>Last name:
        </strong>
        <input ng-model="user.userData.profile.lastName" type="text" class="form-control"/>
      </p>
      <!-- <p>
        <strong>Birthday:
        </strong>
        <input ng-model="user.newBirthday" type="date" class="form-control"/>
      </p> -->
      <p>
        <strong>Phone number:
        </strong>
        <input ng-model="user.userData.profile.phone" type="tel" class="form-control"/>
      </p>
      <p>
        <strong>Brief:
        </strong>
        <textarea ng-model="user.userData.profile.brief" trows="2" class="form-control"></textarea>
      </p>
      <p>
        <strong>About:
        </strong>
        <textarea ng-model="user.userData.profile.about" rows="4" class="form-control"></textarea>
      </p>
      <div class="">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>

    </form>

    <!-- <form ng-submit="user.addImage()">
      <input type="file" id="file" name="file"/>
      <button type="submit" class="btn btn-primary">Save</button>
    </form> -->

    <button ngf-select="user.uploadFiles($files, $invalidFiles)" multiple accept="image/*" ngf-max-height="5000" ngf-max-width="5000" ngf-max-size="5MB" ngf-resize="{width: 300, height: 300, quality: .8, type: 'image/jpeg'}" ngf-resize-if="$width > 300 || $height > 300">
      Select Files
    </button>
    <br><br>
    Files:
    <ul>
      <li ng-repeat="f in user.files" style="font:smaller">{{f.name}}
        {{f.$errorParam}}
        <span class="progress" ng-show="f.progress >= 0">
          <div style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div>
        </span>
      </li>
      <li ng-repeat="f in user.errFiles" style="font:smaller">
        {{f.name}}
        {{f.$error}}
        {{f.$errorParam}}
      </li>
    </ul>
    {{user.errorMsg}}

  </div>
</div>
