<div class="container">

<div class="">
  <ul class="nav nav-tabs">
    <li ng-class="{ 'active': pageClass === 'user-dashboard' }">
      <a href="/user/dashboard">Dashboard</a>
    </li>
    <li ng-class="{ 'active': pageClass === 'user-listings' }">
      <a href="/user/listings">Your Listings</a>
    </li>
    <li ng-class="{ 'active': pageClass === 'user-classes' }">
      <a href="/user/classes">Your Classes</a>
    </li>
    <li ng-class="{ 'active': pageClass === 'user-add-class' }">
      <a href="/user/add-class">Add Class</a>
    </li>
    <li ng-class="{ 'active': pageClass === 'user-account-details' }">
      <a href="/user/account-details">Account Details</a>
    </li>
  </ul>
</div>

    <div ui-view class=""></div>

  <hr>
  <button type="button" class="btn btn-default" ng-click="user.isCollapsed = !user.isCollapsed">View JSON</button>
  <hr>
  <div uib-collapse="user.isCollapsed">
    <div class="well well-lg">

      <pre>
        {{ user.userData | json }}
      </pre>

    </div>
  </div>

</div>
