<div class="container">

  <div class="row">
    <div class="col-sm-3">

      <div class="panel panel-default">
        <div class="panel-body">

          <ul class="nav nav-pills nav-stacked">
            <li ng-class="{ 'active': pageClass === 'user-dashboard' }">
              <a href="/user/dashboard">Dashboard</a>
            </li>
            <li ng-class="{ 'active': pageClass === 'user-edit' }">
              <a href="/user/edit">Edit</a>
            </li>
            <li ng-class="{ 'active': pageClass === 'user-class' }">
              <a href="/user/class">Class</a>
            </li>
          </ul>

        </div>
      </div>

    </div>

    <div ui-view class="col-sm-9"></div>
  </div>

  <hr>
  <button type="button" class="btn btn-default" ng-click="user.isCollapsed = !user.isCollapsed">View JSON</button>
  <hr>
  <div uib-collapse="user.isCollapsed">
    <div class="well well-lg">

      <pre>
        {{ user.userData | json }}
      </pre>

    </div>
  </div>

</div>
