<div class="container white pt4 pb3">

  <div class="clearfix">

    <div class="col-sm-4">
      <h4 class="white uppercase heading-font mt0">Get in touch</h4>
      <ul class="list-unstyled">
        <li>
          <span class="icon icon-home"></span>
          <span>608 Harris Street, Ultimo, NSW, 2007</span>
        </li>
        <li>
          <span class="icon icon-phone"></span>
          <span>0423 205 382</span>
        </li>
        <li>
          <span class="icon icon-mail_outline"></span>
          <span>
            <a href="mailto:hello@yourclass.co">hello@yourclass.co</a>
          </span>
        </li>
      </ul>
    </div>

    <div class="col-sm-4 text-center">
      <h4 class="white uppercase heading-font mt0">Socialise</h4>
      <ul class="list-unstyled clearfix">
        <li class="col-xs-4">
          <span class="icon icon-instagram"></span>
        </li>
        <li class="col-xs-4">
          <span class="icon icon-facebook2"></span>
        </li>
        <li class="col-xs-4">
          <span class="icon icon-twitter"></span>
        </li>
      </ul>
      <h4 class="white uppercase heading-font">Newsletter sign up</h4>
      <form class="" action="index.html" method="post">
        <input type="text" name="" value="">
        <input type="button" name="" value="">
      </form>
    </div>

    <div class="col-sm-4 text-right">
      <h4 class="white uppercase heading-font mt0">Links</h4>
      <ul class="list-unstyled clearfix">
        <li class="col-xs-6 p0">
          <a href="#">Home</a>
        </li>
        <li class="col-xs-6 p0">
          <a href="#">Learn</a>
        </li>
        <li class="col-xs-6 p0">
          <a href="#">About</a>
        </li>
        <li class="col-xs-6 p0">
          <a href="#">Privacy</a>
        </li>
        <li class="col-xs-6 p0">
          <a href="#">FAQ</a>
        </li>
        <li class="col-xs-6 p0">
          <a href="#">Terms</a>
        </li>
        <li class="col-xs-6 p0">
          <a href="#">Teach</a>
        </li>
        <li class="col-xs-6 p0">
          <a href="#">Blog</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="text-center mt3">
    Copyright &copy; 2016 Your Class
  </div>

</div>
