<nav class="navbar">
  <div class="container">
    <div class="nav-wrapper">

      <div class="navbar-logo">
        <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->
        <a class="navbar-brand logo" href="/">
          <img src="images/logo.png">
        </a>
      </div>

      <div ng-include="'globals/search-form.html'" ng-if="!isIndex"></div>

      <div class="navbar-title">{{$state.current.title}}</div>

      <div class="navbar-links">
        <ul class="nav navbar-nav navbar-right">
          <li ng-if="!userLoggedIn">
            <a href="#" ng-click="LogInModal('sm')" class="sign-in">
              <span>Log In</span>
            </a>
          </li>
          <li ng-if="!userLoggedIn">
            <a href="#" ng-click="SignUpModal('sm')" class="sign-up">
              <span>Sign Up</span>
            </a>
          </li>
          <li class="dropdown" uib-dropdown ng-if="userLoggedIn">
            <a href="/user/dashboard" role="button" uib-dropdown-toggle>
              My Account
              <div ng-repeat="image in userData.photos" ng-if="image.isMain == 1" class="nav-image">
                <img class="img-responsive" ng-src="{{imageUrl}}{{image.src}}" />
              </div>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
              <li role="menuitem">
                <a href="/user/dashboard">Dashboard</a>
              </li>
              <li role="menuitem">
                <a href="/user/edit">Edit profile</a>
              </li>
              <li role="menuitem">
                <a href="/user/account">Account details</a>
              </li>
              <li class="divider"></li>
              <li role="menuitem">
                <a href="#" ng-click="logOut()">Log out</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
