<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="/">
        <img src="images/your-class-logo-basic.png">
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-class="{ 'active': pageClass === 'home' }">
          <a href="/">Home</a>
        </li>
        <li ng-class="{ 'active': pageClass === 'search' }">
          <a href="/search">Search</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" ng-click="SignUpModal('sm')">Sign Up</a>
        </li>
        <li>
          <a href="#" ng-click="SignInModal('sm')">Sign In</a>
        </li>
        <li class="dropdown" uib-dropdown ng-if="userLoggedIn">
          <a href="/user/dashboard" role="button" uib-dropdown-toggle>
            {{ userProfile.firstName }} {{ userProfile.lastName }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
            <li role="menuitem">
              <a href="/user/dashboard">Dashboard</a>
            </li>
            <li role="menuitem">
              <a href="/user/edit">Edit profile</a>
            </li>
            <li role="menuitem">
              <a href="/user/class">Add class</a>
            </li>
            <li class="divider"></li>
            <li role="menuitem">
              <a href="#" ng-click="logOut()">Log out</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
