<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="/">
        <img src="images/logo.png">
      </a>
    </div>

    <form name="form" ng-submit="search()" class="search-form clearfix">
      <fieldset>

        <div class="form-group">
          <label class="control-label hidden">Keyword</label>
          <input ng-model="class" type="text" class="form-control" placeholder="Class"/>
        </div>
        <div class="form-group">
          <label class="control-label hidden">Location</label>
          <input ng-model="location" type="text" class="form-control" placeholder="Location"/>
        </div>
        <div class="search-submit">
          <button type="submit" class="btn btn-primary btn-block">
            <span class="text">Search</span>
          </button>
        </div>

      </fieldset>
    </form>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" ng-click="SignUpModal('sm')" ng-if="!userLoggedIn">Sign Up</a>
        </li>
        <li>
          <a href="#" ng-click="LogInModal('sm')" ng-if="!userLoggedIn">Log In</a>
        </li>
        <li class="dropdown" uib-dropdown ng-if="userLoggedIn">
          <a href="/user/dashboard" role="button" uib-dropdown-toggle>
            {{ userProfile.firstName }} {{ userProfile.lastName }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
            <li role="menuitem">
              <a href="/user/dashboard">Dashboard</a>
            </li>
            <li role="menuitem">
              <a href="/user/edit">Edit profile</a>
            </li>
            <li role="menuitem">
              <a href="/user/class">Add class</a>
            </li>
            <li class="divider"></li>
            <li role="menuitem">
              <a href="#" ng-click="logOut()">Log out</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
