<ul class="nav nav-tabs">
  <li ng-class="{ 'active': pageClass === 'user-dashboard' }">
    <a href="/user/dashboard">Dashboard</a>
  </li>
  <li ng-class="{ 'active': pageClass === 'user-listings' }">
    <a href="/user/listings">Your Listings</a>
  </li>
  <li ng-class="{ 'active': pageClass === 'user-classes' }">
    <a href="/user/classes">Your Classes</a>
  </li>
  <li ng-class="{ 'active': pageClass === 'user-add-class' }">
    <a href="/user/add-class">Add Class</a>
  </li>
  <li ng-class="{ 'active': pageClass === 'user-account-details' }">
    <a href="/user/account-details">Account Details</a>
  </li>
</ul>
