<div class="container">

  <div class="checkout-content">

    <md-tabs md-dynamic-height md-border-bottom md-align-tabs="top" md-selected="checkout.step" md-center-tabs ng-class="{'step-details': checkout.step === 0, 'step-payment': checkout.step === 1, 'step-confirmation': checkout.step === 2}">
      <md-tab id="tab1" ng-disabled="checkout.details.disabled">
        <md-tab-label>Details</md-tab-label>
        <md-tab-body>
          <!-- Details -->
          <form class="checkout-details checkout-content-inner" name="details" ng-class="{'submitted': checkout.details.submitted}" ng-submit="checkout.details.submit(details.$valid)">
            <div class="checkout-details-top">
              <a class="checkout-details-back" ui-sref="Class({classAlias: checkout.details.class.alias})" target="_blank">Back to 'Class name'</a>
            </div>
            <div class="checkout-details-content">
              <div class="checkout-details-class">
                <div class="checkout-details-class-illustration" style="background-image: url({{::checkout.details.class.image}})"></div>
                <div class="checkout-details-class-description">
                  <span class="checkout-details-class-title">{{::checkout.details.class.title}}</span>
                  {{::checkout.details.booking.date.start | date : 'EEEE d MMMM yyyy'}}<br>
                  {{::checkout.details.booking.date.start | date : 'h:mma' | lowercase}} - {{::checkout.details.booking.date.end | date : 'h:mma' | lowercase}}<br>
                  {{::checkout.details.class.venue || 'Address is not set yet'}}
                </div>
                <div class="checkout-details-class-summary">
                  <strong>Price per student:</strong> {{::checkout.details.class.price | currency : '$'}}<br>
                  <strong>Number of students:</strong> {{::checkout.details.students.length}}<br>
                  <span class="checkout-details-class-total"><strong>Total price:</strong> {{::checkout.details.class.price * (checkout.details.students.length) | currency : '$'}}</span>
                </div>
              </div>
              <ul class="checkout-content-errors" ng-show="checkout.errors.length > 0">
                <li ng-repeat="error in checkout.errors">{{error}}</li>
              </ul>
              <div class="checkout-details-members">
                <div class="checkout-details-members-header">Who are the students attending this class?</div>
                <ul class="checkout-details-members-list">
                  <li ng-repeat="student in checkout.details.students">
                    <div class="checkout-details-member row">
                      <div class="col-md-3 col-sm-6">
                        <label class="control-label">Name</label>
                        <input class="form-control form-full" ng-model="student.name" ng-pattern="checkout.patterns.name" type="text" value="" placeholder="Name" required/>
                      </div>
                      <div class="col-md-3 col-sm-6">
                        <label class="control-label">Email</label>
                        <input class="form-control form-full" ng-model="student.email" type="email" value="" placeholder="Email" required/>
                      </div>
                      <div class="col-md-3 col-sm-6">
                        <label class="control-label">Number</label>
                        <input class="form-control form-full" ng-model="student.number" ng-pattern="checkout.patterns.number" type="tel" value="" placeholder="Number"/>
                      </div>
                      <div class="col-md-3 col-sm-6 text-right">
                        {{student.name}}<br>
                        {{student.email}}<br>
                        {{student.number}}
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="checkout-details-bottom">
              <div class="checkout-details-confirm">
                <button class="checkout-details-button btn btn-primary" ng-click="checkout.details.click()" ng-disabled="checkout.details.status">Confirm Details</button>
                <div class="checkout-confirm-note" ng-show="checkout.details.submitted && details.$invalid">Please fill in all required fields</div>
              </div>
            </div>
            <div class="checkout-content-loader" ng-show="checkout.details.loader">
              <md-progress-circular md-mode="indeterminate" md-diameter="100" ng-disabled="!checkout.details.loader"></md-progress-circular>
            </div>
          </form>
          <!-- Details End -->
        </md-tab-body>
      </md-tab>
      <md-tab id="tab2" ng-disabled="checkout.payment.disabled || checkout.payment.status">
        <md-tab-label>Payment</md-tab-label>
        <md-tab-body>
          <!-- Payment -->
          <form class="checkout-payment checkout-content-inner" name="payment" ng-class="{'submitted': checkout.payment.submitted}" ng-submit="checkout.payment.submit(payment.$valid)">
            <div class="checkout-payment-top">
              Total amount<br/>
              <strong>{{::checkout.details.class.price * (checkout.details.students.length) | currency : '$'}}</strong>
            </div>
            <ul class="checkout-content-errors text-center" ng-show="checkout.errors.length > 0">
              <li ng-repeat="error in checkout.errors">{{error}}</li>
            </ul>
            <div class="checkout-payment-content row">

              <div class="checkout-payment-details billing col-md-4 col-sm-6">
                <div class="checkout-payment-details-title">Billing details</div>
                <div class="checkout-payment-details-content row">
                  <div class="col-md-6 col-sm-12">
                    <label class="control-label">First name <span class="control-label-mark" ng-class="{'valid': payment.first_name.$valid, 'invalid': payment.first_name.$invalid, 'touched': payment.first_name.$touched}">*</span></label>
                    <input class="form-control form-full" name="first_name" ng-model="checkout.payment.billing.firstName" ng-pattern="checkout.patterns.name" type="text" value="" placeholder="First name" required/>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <label class="control-label">Last name <span class="control-label-mark" ng-class="{'valid': payment.last_name.$valid, 'invalid': payment.last_name.$invalid, 'touched': payment.last_name.$touched}">*</span></label>
                    <input class="form-control form-full" name="last_name" ng-model="checkout.payment.billing.lastName" ng-pattern="checkout.patterns.name" type="text" value="" placeholder="Last name" required/>
                  </div>

                  <div class="col-md-12 col-sm-12">
                    <label class="control-label">Address 1 <span class="control-label-mark" ng-class="{'valid': payment.address_1.$valid, 'invalid': payment.address_1.$invalid, 'touched': payment.address_1.$touched}">*</span></label>
                    <input class="form-control form-full" name="address_1" ng-model="checkout.payment.billing.address_1" type="text" value="" placeholder="Street address" required/>
                  </div>

                  <div class="col-md-12 col-sm-12">
                    <label class="control-label">Address 2</label>
                    <input class="form-control form-full" name="address_2" ng-model="checkout.payment.billing.address_2" type="text" value="" placeholder="Apartment, suite, unit, etc."/>
                  </div>

                  <div class="col-md-12 col-sm-12">
                    <label class="control-label">Suburb <span class="control-label-mark" ng-class="{'valid': payment.suburb.$valid, 'invalid': payment.suburb.$invalid, 'touched': payment.suburb.$touched}">*</span></label>
                    <input class="form-control form-full" name="suburb" ng-model="checkout.payment.billing.suburb" type="text" value="" placeholder="Suburb" required/>
                  </div>

                  <div class="col-md-6 col-sm-12">
                    <label class="control-label">State <span class="control-label-mark" ng-class="{'valid': payment.state.$valid, 'invalid': payment.state.$invalid, 'touched': payment.state.$touched}">*</span></label>
                    <input class="form-control form-full" name="state" ng-model="checkout.payment.billing.state" type="text" value="" placeholder="NSW" required/>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <label class="control-label">Postcode <span class="control-label-mark" ng-class="{'valid': payment.postcode.$valid, 'invalid': payment.postcode.$invalid, 'touched': payment.postcode.$touched}">*</span></label>
                    <input class="form-control form-full" name="postcode" ng-model="checkout.payment.billing.postcode" ng-pattern="checkout.patterns.postcode" type="text" value="" placeholder="####" ui-mask="9999" required/>
                  </div>
                </div>
              </div>

              <div class="checkout-payment-details card col-md-4 col-sm-6">
                <div class="checkout-payment-details-title">Card details</div>
                <div class="checkout-payment-details-content row">
                  <div class="col-md-12 col-sm-12">
                    <label class="control-label">Credit card number <span class="control-label-mark" ng-class="{'valid': payment.card_number.$valid, 'invalid': payment.card_number.$invalid, 'touched': payment.card_number.$touched}">*</span></label>
                    <input class="form-control form-full" name="card_number" ng-model="checkout.payment.card.number" ng-pattern="checkout.patterns.creditcard" type="text" value="" placeholder="#### #### #### ####" ui-mask="9999 9999 9999 9999" required/>
                  </div>

                  <div class="col-md-6 col-sm-12">
                    <label class="control-label">Start date</label>
                    <input class="form-control form-full" name="card_start_date" ng-model="checkout.payment.card.start" type="text" value="" placeholder="mm/yyyy" ui-mask="99/9999" model-view-value="true"/>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <label class="control-label">Expiry date <span class="control-label-mark" ng-class="{'valid': payment.card_expiry_date.$valid, 'invalid': payment.card_expiry_date.$invalid, 'touched': payment.card_expiry_date.$touched}">*</span></label>
                    <input class="form-control form-full" name="card_expiry_date" ng-model="checkout.payment.card.expiry" type="text" value="" placeholder="mm/yyyy" ui-mask="99/9999" model-view-value="true" required/>
                  </div>

                  <div class="col-md-6 col-sm-12">
                    <label class="control-label">CVC Code <span class="control-label-mark" ng-class="{'valid': payment.card_cvc_code.$valid, 'invalid': payment.card_cvc_code.$invalid, 'touched': payment.card_cvc_code.$touched}">*</span></label>
                    <input class="form-control form-full" name="card_cvc_code" ng-model="checkout.payment.card.cvc" ng-pattern="checkout.patterns.cvccode" type="text" value="" placeholder="***" ui-mask="999" required/>
                  </div>

                  <div class="col-md-12 col-sm-12">
                    <div class="control-label">
                      <md-checkbox name="card_details_save" ng-model="checkout.payment.card.save" aria-label="Save card details for next time?">Save card details for next time?</md-checkbox>
                    </div>
                    <hr>
                    <div class="control-label">
                      <md-checkbox name="agreement" ng-model="checkout.payment.card.agreement" aria-label="I agree to the terms and conditions." required>I agree to the <a href="#" title="Terms and Conditions" target="_blank">terms and conditions</a> <span class="control-label-mark" ng-class="{'valid': payment.agreement.$valid, 'invalid': payment.agreement.$invalid, 'touched': payment.agreement.$touched}">*</span></md-checkbox>
                    </div>
                  </div>

                  <div class="col-md-12 col-sm-12">
                    <div class="checkout-payment-confirm">
                      <button class="checkout-payment-button btn btn-primary btn-block" ng-click="checkout.payment.click()">Submit Payment</button>
                      <div class="checkout-confirm-note" ng-show="checkout.payment.submitted && payment.$invalid">Please fill in all required fields</div>
                      <div class="checkout-payment-flag">
                        <img src="images/promisepay.jpg" alt="Promisepay banner">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="checkout-payment-bottom"></div>
            <div class="checkout-content-loader" ng-show="checkout.payment.loader">
              <md-progress-circular md-mode="indeterminate" md-diameter="100"></md-progress-circular>
            </div>
          </form>
          <!-- Payment End -->
        </md-tab-body>
      </md-tab>
      <md-tab id="tab3" ng-disabled="checkout.confirmation.disabled">
        <md-tab-label>Confirmation</md-tab-label>
        <md-tab-body>
          <div class="checkout-confirmation checkout-content-inner">
            <h2 class="checkout-confirmation-top">
              Great, your confirmed in this class!
            </h2>
            <div class="checkout-confirmation-content">
              <div class="checkout-confirmation-illustration" style="background-image: url({{::checkout.details.class.image}})"></div>
              <h3>{{::checkout.details.class.title}}</h3>

              <h4>With</h4>
              <p>{{::checkout.details.class.teacher}}</p>

              <h4>When</h4>
              <p>{{::checkout.details.booking.date.start | date : 'EEEE d MMMM yyyy'}}<br>{{::checkout.details.booking.date.start | date : 'h:mma' | lowercase}} - {{::checkout.details.booking.date.end | date : 'h:mma' | lowercase}}</p>

              <h4>Where</h4>
              <p>{{::checkout.details.class.venue || 'Address is not set yet'}}</p>

              <h4>Confirmed quests</h4>
              <ul>
                <li ng-repeat="member in checkout.details.students">
                  {{member.name}}
                </li>
              </ul>
            </div>
            <div class="checkout-confirmation-bottom">
              <a class="checkout-confirmation-button btn btn-primary" ui-sref="Home()">View more classes</a>
            </div>
          </div>
        </md-tab-body>
      </md-tab>
    </md-tabs>

  </div>

</div>
