<section class="hero" style="background-image: url('/images/outside-yoga.jpg')">
    <div class="container clear">

        <div class="class-teacher">
            <div class="thumbnail" ng-repeat="image in userImage" ng-if="image.isMain == 1">
              <img class="img-responsive" ng-src="{{imageUrl}}{{image.src}}" />
            </div>
            <div class="text-center text">
                <div>
                    {{ class.class.teacher.profile.firstName | capitalize }}
                    {{ class.class.teacher.profile.lastName | capitalize }}
                </div>
                <small class="italic">
                    Teacher
                </small>
            </div>
        </div>

        <div class="content">

            <div class="text-center text">
                <h1>{{ class.class.title }}</h1>
                <small class="italic">
                    Sydney, NSW
                </small>
                <div class="review-stars">
                    <div class="stars">
                        <span class="icon icon-star"></span>
                        <span class="icon icon-star"></span>
                        <span class="icon icon-star"></span>
                        <span class="icon icon-star_half"></span>
                        <span class="icon icon-star_border"></span>
                    </div>
                    <div class="">
                        4 Reviews
                    </div>
                </div>
                <div class="">
                  {{ class.class.brief }}
                </div>
            </div>

        </div>
    </div>
</section>

<!--

  Class title

  Teacher pic
  Teacher name

  Class reviews
  Location
  Tags
  Mini description

  About class name
  Big description
  Images

  Class fee
  List of class dates
  Number of students
  Book button
  Spots left

 -->
<section class="panel">
    <div class="container">
        <!-- Booking Class -->
        <div class="booking" ng-class="{'view-expanded': class.booking.view.expanded}" sticky sticky-class="fixed" media-query="min-width: 1001px" offset="20">
            <div class="booking-title">{{class.booking.price | currency : '$'}} per person</div>
            <div class="booking-empty" ng-hide="class.booking.list.length > 0">No available classes</div>
            <div class="booking-spots" ng-show="class.booking.list.length > 0">
                <div class="booking-spots-top">
                    <div class="booking-spots-toggle" ng-show="class.booking.list.length > class.booking.view.limit" ng-click="class.booking.view.toggle()">View {{class.booking.view.expanded ? 'less' : 'all'}}</div>
                    <div class="booking-spots-title">{{class.booking.view.expanded || class.booking.list.length <= class.booking.view.limit ? 'All available classes' : 'Available classes'}}</div>
                </div>
                <div class="booking-spots-content">
                    <ul class="booking-list">
                        <li class="booking-list-item" ng-repeat="item in class.booking.list">
                            <label class="booking-list-label">
                                <input class="booking-list-radio" ng-model="class.booking.selected" ng-value="item" name="booking" type="radio">
                                <div class="booking-list-text">
                                    <span class="booking-list-mark"></span>
                                    <span class="booking-list-date">{{item.date.start | date : 'd MMMM yyyy'}}</span>
                                    <span class="booking-list-time">{{item.date.start | date : 'h:mma' | lowercase}} - {{item.date.end | date : 'h:mma' | lowercase}}</span>
                                </div>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="booking-friends" ng-show="class.booking.list.length > 0">
                <div class="booking-friends-description">Are you bringing any friends?</div>
                <div class="booking-friends-counter">
                    <span class="booking-friends-control less" title="Less" ng-click="class.booking.friends.less()" ng-disabled="class.booking.friends.count === 0">-</span>
                    <span class="booking-friends-count">{{class.booking.friends.count}}</span>
                    <span class="booking-friends-control more" title="More" ng-click="class.booking.friends.more()" ng-disabled="class.booking.friends.count === class.booking.friends.limit">+</span>
                </div>
            </div>
            <div class="booking-submit" ng-show="class.booking.list.length > 0">
                <button class="booking-button btn" ng-disabled="class.booking.selected === null" ng-click="class.booking.submit()">Book now</button>
                <div class="booking-note" ng-show="class.booking.error">Please select a class date to book</div>
            </div>
            <div class="booking-bottom" ng-show="class.booking.list.length > 0">Only {{class.booking.spots}} spots left!</div>
        </div>
        <!-- Booking Class End -->

        <div class="class-content">

            <h2>{{ class.class.title }}
                taught by
                {{ class.class.teacher.profile.firstName | capitalize }}
                {{ class.class.teacher.profile.lastName | capitalize }}</h2>
            <div class="class-description">
              {{ class.class.description }}
            </div>

        </div>
    </div>
</section>

<section class="panel panel-grey">
    <div class="container">
        <div class="class-content">

            <h2>Photos</h2>
            <div class="class-photos">
                <ul>
                    <li>
                        <a href="#">
                            Photo 1
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Photo 1
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Photo 1
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Photo 1
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Photo 1
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Photo 1
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>

<section class="panel">
    <div class="container">
        <div class="class-content">

            <h2>Reviews</h2>
            <div class="class-reviews">
                <ul>
                    <li>Review 1</li>
                    <li>Review 2</li>
                    <li>Review 3</li>
                </ul>
            </div>

        </div>
    </div>
</section>

<!-- <section class="class-booking-wrapper">
  <div class="class-booking text-center">
    <div class="class-price text-uppercase">
      $30 per person
    </div>
    <div class="">
      Next available classes <span class="right">View all</span>
    </div>
    <ul>
      <li>Class time 1</li>
      <li>Class time 2</li>
      <li>Class time 3</li>
      <li>Class time 4</li>
    </ul>
  </div>
</section> -->

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Class quick details</h3>
    </div>
    <div class="panel-body">
        <p>
            Class average review rating:
        </p>
        <p>
            Venue location:
        </p>
        <p>
            Category:
            {{ class.class.category.title }}
        </p>
        <p>
            Sub category:
            {{ class.class.subcategory.title }}
        </p>
        <p>
            Short description:
            {{ class.class.brief }}
        </p>

    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Class more details</h3>
    </div>
    <div class="panel-body">
        <h2>
            More about
            {{ class.class.title | lowercase }}
            by
            {{ class.class.teacher.username }}
            {{ class.class.teacher.profile.firstName | capitalize }}
            {{ class.class.teacher.profile.lastName | capitalize }}
        </h2>
        <p>
            Long description:
            {{ class.class.description }}
        </p>
        <p>
            Class images
        </p>

    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Register</h3>
    </div>
    <div class="panel-body">
        <h3>
            ${{ class.class.price }}
        </h3>
        <p>
            Dates available:
            <div ng-repeat="classDate in class.class.validDates | limitTo:5">
                {{ classDate }}
            </div>
        </p>
        <p>
            Spots left:
            {{ class.class.spotsLeft }}
        </p>

    </div>
</div>

<button type="button" class="btn btn-default" ng-click="user.isCollapsed = !user.isCollapsed">View JSON</button>
<hr>
<div uib-collapse="user.isCollapsed">
    <div class="well well-lg">

        <pre>
      {{ class.class | json }}
    </pre>

    </div>
</div>
