<section class="hero" style="background-image: url('/images/outside-yoga.jpg')">
  <div class="container clear">
    <div class="content">

      <div class="logo-wrapper">
        <img src="/images/logo.png" alt="Your Class - logo"/>
      </div>

      <h1 class="text-center">
        Your Class
      </h1>

      <div class="text-center lead">
        Inspiring everyone to learn, share and teach what you love
      </div>

      <form class="search-form clearfix" name="form" ng-submit="searchform.search()" ng-controller="SearchFormCtrl as searchform">
        <fieldset class="search-form-fieldset">

          <div class="form-group">
            <label class="control-label hidden">Keyword</label>
            <!--<input ng-model="class" type="text" class="form-control" placeholder="Class"/>-->
            <md-autocomplete
              md-selected-item="searchform.categories.selected"
              md-search-text="searchform.categories.searched"
              md-items="category in searchform.categories.query(searchform.categories.searched, 'cat')"
              md-item-text="category.title"
              md-min-length="0"
              md-selected-item-change="searchform.categories.change(category)"
              placeholder="Category">
              <md-item-template>
                <span md-highlight-text="searchform.categories.searched" md-highlight-flags="i">{{category.title}}</span>
              </md-item-template>
              <md-not-found>
                No categories matching "{{searchform.categories.searched}}" were found.
              </md-not-found>
            </md-autocomplete>
          </div>
          <div class="form-group">
            <label class="control-label hidden">Location</label>
            <!--<input ng-model="location" type="text" class="form-control" placeholder="Location"/>-->
            <md-autocomplete
              md-selected-item="searchform.locations.selected"
              md-search-text="searchform.locations.searched"
              md-items="location in searchform.locations.query(searchform.locations.searched, 'loc')"
              md-item-text="location.title"
              md-min-length="0"
              md-selected-item-change="searchform.locations.change(location)"
              placeholder="Location">
              <md-item-template>
                <span md-highlight-text="searchform.locations.searched" md-highlight-flags="i">{{location.title}}</span>
              </md-item-template>
              <md-not-found>
                No locations matching "{{searchform.locations.searched}}" were found.
              </md-not-found>
            </md-autocomplete>
          </div>
          <div class="search-form-submit">
            <!-- ng-disabled="!searchform.categories.selected" -->
            <button type="submit" class="btn btn-primary btn-block">
              <span class="text">Search</span>
            </button>
          </div>

        </fieldset>
      </form>

      <div class="info-button center-block">
        <button type="submit" ng-click="home.aboutModal('lg')" class="btn btn-info btn-block btn-shadow">
          <span class="text">Who are we?</span>
        </button>
      </div>

    </div>
  </div>
</section>

<section class="top-categories container">
  <h2 class="text-center">Top categories</h2>

  <ul class="list-unstyled row">
    <li class="col-sm-3" style="background-image: url('/images/categories/sports.jpg')">
      <a href="#">Sports</a>
    </li>
    <li class="col-sm-3" style="background-image: url('/images/categories/sports.jpg')">
      <a href="#">Academic</a>
    </li>
    <li class="col-sm-3" style="background-image: url('/images/categories/sports.jpg')">
      <a href="#">Arts</a>
    </li>
    <li class="col-sm-3" style="background-image: url('/images/categories/sports.jpg')">
      <a href="#">Cooking</a>
    </li>
    <li class="col-sm-3" style="background-image: url('/images/categories/sports.jpg')">
      <a href="#">Life skills</a>
    </li>
    <li class="col-sm-3" style="background-image: url('/images/categories/sports.jpg')">
      <a href="#">Hobbies</a>
    </li>
    <li class="col-sm-3" style="background-image: url('/images/categories/sports.jpg')">
      <a href="#">Yoga</a>
    </li>
    <li class="col-sm-3" style="background-image: url('/images/categories/sports.jpg')">
      <a href="#">Fitness</a>
    </li>
  </ul>
</section>

<section class="top-categories container">
  <h2 class="text-center">Latest classes</h2>

  <ul class="list-unstyled row">
    <li ng-repeat="classes in home.classesList | limitTo: '-8'" class="col-sm-3" style="background-image: url('/images/categories/sports.jpg')">
      <a ui-sref="Class({ classAlias:classes.alias })">{{ classes.title }}</a>
    </li>
  </ul>

</section>
