<div class="container">

  <h1 class="heading center-text">Search classes</h1>

  <!-- This is just a basic design for now -->

  <div class="panel panel-primary" ng-repeat="classes in search.classesList">
    <div class="panel-heading">
      <h2>
        {{ classes.title }}
      </h2>
    </div>

    <div class="panel-body">
      <p>
        <strong>
          Class Description:
        </strong>{{ classes.description }}
      </p>
      <div>
        <a class="btn btn-primary" ui-sref="Class({ classAlias:classes.alias })">Go to class</a>
      </div>
    </div>

    <div class="panel-footer">
      <div>
        <strong>Teacher email:
        </strong>{{ classes.teacher.email }}
      </div>
      <div>
        <strong>Spots left:
        </strong>{{ classes.spotsLeft }}
      </div>
    </div>
  </div>

</div>

<pre>
	{{ search.classesList | json }}
</pre>
