<section class="hero" style="{{search.heading.image}}">
  <div class="container clear">

    <div class="content">

      <div class="text-center text">
        <h1>
          {{search.heading.category}} {{search.heading.location.length > 0 ? 'in' : ''}} {{search.heading.location}}
        </h1>
        <div class="text-center lead">
          {{search.classesList.length}} {{class.classesList.length === 1 ? 'result' : 'results'}} found
        </div>
      </div>

    </div>

  </div>
</section>

<div class="container">

  <div class="search-filter" sticky sticky-class="fixed" stick-limit="true">
    <div class="search-filter-panel">
      <ul class="search-filter-list">
        <li class="search-filter-item">
          <div class="search-filter-title">Price</div>
          <div class="search-filter-widget">
            <rzslider rz-slider-model="search.slider.min" rz-slider-high="search.slider.max" rz-slider-options="search.slider.options"></rzslider>
          </div>
        </li>
        <li class="search-filter-item">
          <div class="search-filter-title">Rating</div>
          <div class="search-filter-widget">
            <span uib-rating class="rating-half-star" ng-model="search.filters.rating" max="10" read-only="false" titles="{{search.rating.titles}}"></span>
          </div>
        </li>
        <li class="search-filter-item">
          <div class="search-filter-title">Date</div>
          <div class="search-filter-widget">
            <input type="text" class="form-control" uib-datepicker-popup="{{search.datepicker.format}}" ng-model="search.filters.date" datepicker-options="search.datepicker.options" show-button-bar="false" is-open="search.datepicker.state" close-on-date-selection="true" ng-click="search.datepicker.show()" />
          </div>
        </li>
        <li class="search-filter-item">
          <div class="search-filter-title">Distance</div>
          <div class="search-filter-widget">
            <div dropdown-select="search.distances.options"
                 dropdown-model="search.filters.distance"
                 dropdown-item-label="text"
                 dropdown-onchange="search.distances.change()" >
            </div>
          </div>
        </li>
        <li class="search-filter-item">
          <div class="search-filter-title">Size</div>
          <div class="search-filter-widget">
            <div dropdown-select="search.sizes.options"
                 dropdown-model="search.filters.size"
                 dropdown-item-label="text"
                 dropdown-onchange="search.sizes.change()" >
            </div>
          </div>
        </li>
      </ul>
    </div>
    <br>

<pre style="color: #ff4000;">
price start: {{search.filters.price.start}}
price end: {{search.filters.price.end}}
rating: {{search.filters.rating}}
date: {{search.filters.date}}
distance: {{search.filters.distance}}
size: {{search.filters.size}}
</pre>

  </div>

  <div id="searchList">

    <!-- Pagination -->
    <div class="search-pagination clearfix" aria-label="Search results pages" ng-if="search.classesList.length > search.pagination.limit" ng-disabled="false">
      <ul uib-pagination
        class="pagination-sm pull-right"

        ng-model="search.pagination.current"
        total-items="search.pagination.total"
        max-size="search.pagination.size"
        items-per-page="search.pagination.limit"

        boundary-links="true"
        boundary-link-numbers="true"
        rotate="true"
        ng-change="paginationChangeEvent()"

        previous-text="&lsaquo;"
        next-text="&rsaquo;"
        first-text="&laquo;"
        last-text="&raquo;"

        template-url="templates/pagination.html">
      </ul>
    </div>

    <!-- Search results -->
    <div class="search-results">
      <div class="search-loader" ng-show="search.isLoading">
        <md-progress-circular md-mode="indeterminate" md-diameter="100"></md-progress-circular>
      </div>

      <div class="search-list" ng-hide="search.isLoading && search.classesList.length > 0">

        <div class="search-item" ng-repeat="class in search.classesListSliced">
          <div class="search-item-price">{{::class.price}}</div>
          <div class="search-item-date">{{::class.dateStart | date : "dd MMMM" }}</div>

          <div class="search-item-title">{{::class.title}}</div>
          <div class="search-item-location">{{::class.venue}}</div>
          <div class="search-item-rating">
            <span uib-rating class="rating-half-star" ng-model="class.rating" max="10" read-only="true" titles="{{::search.rating.titles}}"></span>
          </div>
          <div class="search-item-description">
            {{::class.spotsBooked}} {{::class.spotsBooked === 1 ? 'student' : students}} going
            <em>&ndash;</em>
            {{::class.spotsLeft}} {{::class.spotsLeft === 1 ? 'spot' : 'spots'}} left!
            <br>
            {{::class.dateStart | date : "hh:mm a" }} - {{::class.dateEnd | date : "hh:mm a"}}</div>
          <div class="search-item-author">Taught by <strong>{{::class.teacher}}</strong></div>
        </div>

      </div>

      <div class="search-empty" ng-show="search.classesList.length == 0">
        <h2>No results found</h2>
        <p>Try other settings.</p>
      </div>
    </div>
    <!-- End of Search results -->

    <!-- Show more button -->
    <div class="search-more" ng-click="showMoreResults()" ng-show="search.results.more" ng-if="search.classesList.length > search.pagination.limit">Show More</div>

    <!-- Pagination -->
    <div class="search-pagination clearfix" aria-label="Search results pages" ng-if="search.classesList.length > search.pagination.limit">
      <ul uib-pagination
        class="pagination-sm pull-right"

        ng-model="search.pagination.current"
        total-items="search.pagination.total"
        max-size="search.pagination.size"
        items-per-page="search.pagination.limit"

        boundary-links="true"
        boundary-link-numbers="true"
        rotate="true"
        ng-change="paginationChangeEvent()"

        previous-text="&lsaquo;"
        next-text="&rsaquo;"
        first-text="&laquo;"
        last-text="&raquo;"

        template-url="templates/pagination.html">
      </ul>
    </div>

<!--<pre style="color: #ff4000;">
current: {{search.pagination.current}}
last: {{search.pagination.last}}
total: {{search.pagination.total}}
size: {{search.pagination.size}}
limit: {{search.pagination.limit}}
</pre>-->

  </div>

</div>

<pre>
	<!--{{ search.responseData | json }}-->
</pre>
